<div class="container" *ngIf="!isEdit">
  <h1>Custom Input Component</h1>
  <form [formGroup]="myForm">
    <app-custom-phone-number [group] = "getFormGroup()"></app-custom-phone-number>
  </form>
  <button (click)="onSubmit()">Submit</button>
</div>
<div class="container" *ngIf="isEdit">
  <h1>Custom Input Component</h1>
  <form [formGroup]="myForm">
    <app-custom-phone-number [group]="getFormGroup()"></app-custom-phone-number>
  </form>
  <button (click)="onEdit()">Edit</button>
</div>
<ul *ngFor="let student of students">
  <li class="cursor-pointer" (click)="onEditing(student.id,student.phone)">{{ student.id }}{{ " " }}{{ student.phone }}
  </li>
</ul>